@import url(./style.css);

main {
  width: 1050px;
  margin: 0px auto;
  padding-bottom: 80px;
  min-width: 1050px;
  font-size: 1rem;
}

.section {
  display: flex;
  justify-content: space-around;
}

.cart-title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.is-checked-false {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

/* 장바구니 전체 선택 */
.click-total {
  padding: 18px 10px 16px 2px;
  display: flex;
  align-items: center;
}
.click-total.down {
  border-top: 1px solid var(--gray-400);
}
.click-total button {
  border: none;
  font-size: 0.875rem;
  line-height: 26px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
}

/* 장바구니 상품 리스트  */
.list {
  border-top: 1px solid #212121;
}
.cart-list {
  background: pink;
  width: 742px;
  height: 292px;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.catagory {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
}
.list-name {
  display: flex;
  line-height: 26px;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--gray-800);
}

/* 리스트 안의 상품 목록 */
ul .list-item {
  display: flex;
  background: yellow;
  justify-content: space-between;
  align-items: center;
}
.list-item {
  /* display: none; */
}
.list-item:not(:first-of-type) {
  border-top: 1px solid var(--gray-200);
}
.product-name {
  background: blue;
}
/* 리스트 안의 상품 카운트 */
.product-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid var(--gray-100);
  border-radius: 0.25rem;
  width: 6.5625rem;
  height: 2.1875rem;
}
.product-count button {
  border: none;
  background-color: transparent;
}
.product-minus-btn img,
.product-plus-btn img {
  width: 1.625rem;
  height: 1.625rem;
}
.count {
  width: 1.9375rem;
  text-align: center;
  line-height: 1.75rem;
}
/* 리스트 안의 상품 가격 표시 */
.product-price {
  display: flex;
  flex-direction: ;
}
/* 리스트 안의 상품 삭제 */

/* 결제 폼  */
.cradit {
  background-color: darkturquoise;
  width: 284px;
}
.notice {
  color: var(--gray-400);
  width: 284px;
  line-height: 18px;
  font-size: 12px;
}
