@import url(./theme.css);
@import url(./reset.css);
@import url(./fonts.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 숨김처리 */
.a11y-hidden,
label,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

a {
  text-decoration: none;
}

a:focus-visible {
  outline: blue solid 3px;
  position: relative;
  z-index: 100;
}

/* 배너 */
.top-banner {
  background-color: var(--primary);
  padding: 0 435px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-banner-text {
  margin-left: 381px;
  font-weight: 400;
  font-size: 1rem;
}

.close-icon {
  background: transparent;
  border: none;
}

/* 헤더 */
.header-container {
  padding: 0 435px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  position: relative;
}
.karly-logo {
  position: absolute;
  top: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.text-link {
  text-align: right;
  padding-top: 10px;
  font-size: 0;
  transform: translateX(12px);
}

.text-link li {
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 2px;
  padding: 2px 0;
}

.signin,
.login {
  display: inline-block;
  padding: 1px 10px;
  color: var(--content);
}

.customer-center {
  display: inline-block;
  padding: 1px 10px;
}
.customer-center a {
  margin-right: 4px;
  color: var(--content);
}

.text-link img:not(:last-child) {
  display: inline-block;
  transform: translateY(2px);
}

/* 헤더 메인 */
.header-main {
  display: flex;
  align-items: center;
  padding-left: 82px;
  margin-top: 21px;
  font-size: 1.3125rem;
}

/* 마켓칼리, 뷰티칼리 (칼리 카테고리 링크) */
.karly-category-link {
  display: flex;
  align-items: center;
}

.karly-category-link li {
  margin: 0 2px;
}

.karly-category-link a {
  padding: 0 10px;
}
.karly-category-market {
  color: var(--primary);
}

.karly-category-beauty {
  color: var(--gray-400);
}

.karly-category-beauty img {
  position: relative;
  top: -18px;
}

/* 검색창 */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-left: 51px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.form-group input {
  flex-grow: 1;
  border: none;
  padding: 13px 0 13px 20px;
  font-size: 1.3125rem;
}

.form-group input:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  padding: 10px 20px 6px 0;
  border: none;
}
/* 아이콘 링크 모음 */
.icon-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  transform: translateX(10px);
}

.icon-link li {
  margin: 0 10px;
}

/* 헤더 메뉴 영역 */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.navigation a,
.navigation span {
  color: var(--content);
}

.category-menu {
  position: relative;
}

.category-menu-cover {
  padding: 4px 0;
}

.category-text {
  display: inline-block;
  padding-left: 12px;
}

/* 카테고리 hover 메뉴 */
.category-list {
  display: none;
}

.category-list a {
  display: inline-block;
  padding: 8px 0 8px 44px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.category-list li:nth-child(1) {
  background: var(--white) url(../assets/icon/Type23.png) 12px 4px/24px 24px
    no-repeat;
}

.category-list li:nth-child(2) {
  background: var(--white) url(../assets/icon/Vegetable.png) 12px 4px/24px 24px
    no-repeat;
}

.category-list li:nth-child(3) {
  background: var(--white) url(../assets/icon/Fruit.png) 12px 4px/24px 24px
    no-repeat;
}

.category-list li:nth-child(4) {
  background: var(--white) url(../assets/icon/SeaFood.png) 12px 4px/24px 24px
    no-repeat;
}

.category-list li:nth-child(5) {
  background: var(--white) url(../assets/icon/Meet.png) 12px 4px/24px 24px
    no-repeat;
}

.category-list li:nth-child(6) {
  background: var(--white) url(../assets/icon/Cook.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(7) {
  background: var(--white) url(../assets/icon/Salad.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(8) {
  background: var(--white) url(../assets/icon/Oil.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(9) {
  background: var(--white) url(../assets/icon/Coffee.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(10) {
  background: var(--white) url(../assets/icon/Snack.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(11) {
  background: var(--white) url(../assets/icon/Bread.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(12) {
  background: var(--white) url(../assets/icon/Health.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(13) {
  background: var(--white) url(../assets/icon/Wine.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(14) {
  background: var(--white) url(../assets/icon/Traditional\ Liquor.png) 12px 4px/24px
    24px no-repeat;
}
.category-list li:nth-child(15) {
  background: var(--white) url(../assets/icon/Detergent.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(16) {
  background: var(--white) url(../assets/icon/Cosmetics.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(17) {
  background: var(--white) url(../assets/icon/shampoo.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(18) {
  background: var(--white) url(../assets/icon/Food.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(19) {
  background: var(--white) url(../assets/icon/HomeAppliances.png) 12px 4px/24px
    24px no-repeat;
}
.category-list li:nth-child(20) {
  background: var(--white) url(../assets/icon/Dog.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(21) {
  background: var(--white) url(../assets/icon/Baby.png) 12px 4px/24px 24px
    no-repeat;
}
.category-list li:nth-child(22) {
  background: var(--white) url(../assets/icon/Travel.png) 12px 4px/24px 24px
    no-repeat;
}

/* 카테고리 드롭다운 메뉴 is-active클래스 */
.category-list.is-active {
  display: block;
  position: absolute;
  top: 46px;
  width: 247px;
}

/* 헤더 메뉴 */
.page-navigation {
  margin: 16px 0;
}

.page-navigation li {
  display: inline-block;
  padding: 4px 36px;
}

.page-navigation a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 600;
}

.delivery-info {
  font-size: 0.75rem;
  font-weight: 400;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  padding: 4px 8px;
}

.delivery-info span {
  color: var(--primary);
}
