@import url(./theme.css); 
@import url(./reset.css);
@import url(./fonts.css);


/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}



/* 본문 스타일 */
body {
  width: 1920px;
  margin: 0;
  font-family: "Pretendard", "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
  min-width: 1050px; 
}

/* 레이아웃 */
.top-banner,
.header,
.event,
.main,
.footer {
  width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* for legacy browers */
  /* clip: rect(0 0 0 0); */
  clip-path: polygon(0 0, 0 0, 0 0);
}





/* --------------------------------- 이벤트 영역 --------------------------------- */
.event {
  width: 1920px;
  height: 370px;
  position: relative;
}

/* 이벤트 배너 */
.event-banner {
  height: 370px;
}

/* 이벤트 pagination */

.swiper-pagination {
  width: 50px;
  height: 18px;
  left: 1436px;
  top: 324px;

  color: var(--white);
  background: rgba(64, 64, 64, 0.3);
  border-radius: 12px;

  padding: 0px 12px;

  font-size: .75rem;

  display: flex;

  justify-content: center;
  align-items: center;

}

/* 이벤트 버튼 */

.swiper-E img {
  width: 1920px;
  height: 370px;
}

.swiper-E {
  overflow: hidden;
}

.event-button {
  width: 52px;
  height: 52px;
  background: url('../assets/icon/event_arraow.png') no-repeat;
  border: 0;
  padding: 50px 0 0 0;
  overflow: hidden;
  z-index: 1;
}

.event-button-prev {
  position: absolute;
  top: 146px;
  left: 350px;
  transform: rotate(180deg);
}

.event-button-next {
  position: absolute;
  top: 146px;
  right: 350px;
}

/* 이벤트 배너 화살표 버튼 애니메이션 효과 */


.button-wrapper {
  opacity: 0;
}

.event:hover .button-wrapper{
  opacity: 1;
  transition: all 0.2s ease;
}




/* ----------------------------------- 메인 ----------------------------------- */



/* 메인 레이아웃 */
.main {
  display: flex;
  flex-flow: row wrap;
  
  /* 최근 본 상품 absolute */
  position: relative;
}


/* ------------------------------ 공통 상품 목록 CSS ------------------------------ */


.items-list-title {
  height: 64px;
  font-size: 1.775rem;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


.item-container {
  height: 429px;
  margin-top: 28px;
  margin-bottom: 40px;
}


.item-card {
  width: 249px;
  height: 429px;
}


.item {
  position: relative;
  width: 249px;
  height: 320px;
  margin: 0 auto;
}

.item-thumbnail {
  overflow: hidden;
}

.item-thumbnail > img {
  width: 249px;
  height: 320px;
  transition: all .5s ease-in-out;  
}

.item-thumbnail > img:hover {
  transform: scale(1.03);
  
}

.cart-icon {
  position: absolute;
  bottom: 17px;
  right: 17px;
  cursor: pointer;
}

.item-detail {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  padding-top: 16px;
}

.item-title {
  width: 249px;
  margin-bottom: 8px;
  font-weight: 400;
}

.discount-price {
  font-size: 1.3313rem;
  font-weight: 600;
  width: 249px;
}

.discount {
  /* margin-right: 8px; */
  color: var(--accent-yellow);
}

.origin-price {
  width: 249px;
  color: var(--gray-400);
  font-size: .75rem;
  margin-top: 8px;
}




/* -------------------------------- 추천 상품 목록 -------------------------------- */

.swiper-R {
  overflow: hidden;
}

.recommend-items-list {
  height: 601px;
  width: 1846px;
  padding-top: 40px;
  
  /* 버튼 */
  position: relative;
  
}


.recommend-container {
  width: 1050px;
  margin-left: 435px;
  margin-right: 435px;
}

/* 추천 상품 버튼 */

.recommend-item-button {
  width: 60px;
  height: 60px;
  background: url('../assets/icon/White_arrow.png') no-repeat;
  border: 0;
  padding: 60px 0 0 0;
  overflow: hidden;
  z-index: 1;
  
}

.recommend-prev-button {
  position: absolute;
  top: 265px;
  left: 403px;
  transform: rotate(180deg);
}

.recommend-next-button {
  position: absolute;
  top: 265px;
  right: 331px;
}




/* 광고 배너 */

.banner {
  width: 1050px;
  height: 219px;
  margin-left: 435px;
}

.line-banner {
  width: 1050px;
  height: 219px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.line-banner > img {
  height: 139px;
  width: 1050px;
}



/* -------------------------------- 특가 상품 목록 -------------------------------- */

.swiper-S {
  overflow: hidden;
}

.sale-items-list {
  height: 601px;
  width: 1846px;
  margin-top: 40px;

    /* 버튼 */
    position: relative;

}

.sale-title {
  margin-top: 40px;
}

.sale-container {
  width: 1050px;
  /* margin: 0 auto; */
  margin-left: 435px;
}


/* 특가 상품 버튼 */
.sale-item-button {
  width: 60px;
  height: 60px;
  background: url('../assets/icon/White_arrow.png') no-repeat;
  border: 0;
  padding: 60px 0 0 0;
  overflow: hidden;
  z-index: 1;

}

.sale-prev-button {
  position: absolute;
  top: 230px;
  left: 403px;
  transform: rotate(180deg);
}

.sale-next-button {
  position: absolute;
  top: 230px;
  right: 331px;
}

/* --------------------------------- 최근 본 상품 -------------------------------- */

.recent {
  width: 74px;
  height: 223px;
  border: 1px solid var(--gray-200);
  padding : 8px;
  padding-top: 34px;

  position: sticky;

  top: 193px;
  right: 39px;

  margin-top: 193px;
  margin-bottom: 185px;
  
}

.recent-items-list > h2 {
  width: 58px;
  height: 18px;
  font-weight: 600;
  font-size: .7502rem;
  line-height: 150%;
  margin-bottom: 8px;
}

.recent-item-container {
  width: 40px;
  height: 129px;
  margin: 0 auto;
  overflow: hidden;
}

.recent-swiper-wrapper {
  height: 51.41px;
}


.recent-thumbnail > img {
  width: 40px;
  height: 51.41px;
}



/* 최근 본 상품 버튼 */

.recent-button {
  width: 18px;
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  overflow: hidden;
}

.recent-button-prev {
  background: url('../assets/icon/Direction=Up.png') no-repeat;
  position: absolute;
  top: 8px;
  left: 28px;
}

.recent-button-next {
  background: url('../assets/icon/Direction=Down.png') no-repeat;
  position: absolute;
  bottom: 8px;
  left: 28px;
}



