main {
  padding: 0 435px;
}

.product-detail {
  margin-top: 44px;
  display: flex;
  margin-bottom: 48px;
}

.product-detail img {
  display: inline-block;
  margin-right: 90px;
}

.early-delivery {
  display: inline-block;
  color: var(--gray-500);
  font-weight: 700;
  font-size: 1.333rem;
  margin-bottom: 16px;
}

.product-title {
  color: var(--content);
  font-weight: 600;
  font-size: 1.7769rem;
  margin-bottom: 4px;
}

.product-sub-title {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 16px;
}

.product-price {
  display: flex;
  align-items: center;
  color: var(--content);
  font-weight: 600;
  font-size: 1.7769rem;
  margin-bottom: 16px;
}

.product-price small {
  font-weight: 700;
  font-size: 1rem;
}

.login-notice {
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 20px;
}

.about-product {
  font-size: 0.75rem;
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
}

.about-product dl {
  display: flow-root;
  padding: 16px 0;
  color: var(--gray-500);
}

.about-product dl:not(:last-child) {
  border-bottom: 1px solid var(--gray-100);
}

.about-product dt {
  width: 30%;
  float: left;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
}

.about-product dd {
  width: 70%;
  float: left;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
}

.sub-description {
  color: var(--gray-400);
}

.allergy-description {
  font-weight: 400;
}

.product-selector {
  position: relative;
}

.product-selector dl {
  display: flow-root;
  padding: 16px 0;
  margin-bottom: 28px;
  border-bottom: 1px solid var(--gray-100);
}
.product-selector dt {
  color: var(--gray-500);
  width: 30%;
  float: left;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
}
.product-selector dd {
  color: var(--gray-500);
  width: 70%;
  float: left;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
}

.product-counter-container {
  border: 1px solid var(--gray-100);
  padding: 12px 12px 12px 16px;
}

.calculate-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 12px;
}

.product-counter {
  border: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
}

.counter-icon {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
}

.product-counter span {
  margin: 0 8px;
  font-weight: 600;
  font-size: 1rem;
}
.product-counter img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.each-product-price {
  color: var(--content);
  font-weight: 600;
  font-size: 0.75rem;
}

.total-price {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total-price span {
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.7769rem;
  color: var(--content);
}

.total-price small {
  font-weight: 700;
  font-size: 1rem;
}

.accumulate-notice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 28px;
}

.accumulate-icon {
  color: var(--white);
  font-weight: 400;
  font-size: 0.625rem;
  background-color: var(--accent-yellow);
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 12px;
}

.accumulate-text {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
}

.option-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.plus-wish,
.setting-alarm {
  background-color: transparent;
  border: none;
  width: 56px;
  height: 56px;
}

.option-button-container img {
  width: 54px;
  height: 54px;
  transform: translateX(-6px);
}

.cart-button {
  width: 424px;
  height: 56px;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
}

/* 북마크 링크 */
.hyper-link-container {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hyper-link-container li {
  width: 100%;
  height: 54px;
}
.hyper-link-container li:not(:first-child) {
  border-left: none;
}
.hyper-link-container a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px 0;
  color: var(--content);
  background-color: var(--gray-50);
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid var(--gray-300);
}

/* 선택된 링크 스타일 */
.hyper-link-container a.is-selected {
  border: 1px solid var(--gray-100);
  border-bottom: none;
  background-color: var(--white);
  color: var(--primary);
}

/* 상품설명 */
.product-description-text {
  margin-top: 76px;
  margin-bottom: 96px;
}

.product-description-text h3 {
  text-align: center;
  font-weight: 700;
  font-size: 3.1573rem;
  margin-bottom: 36px;
}

.product-description-text small {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  font-size: 1.7769rem;
}

.product-description-text p {
  border-top: 1px solid var(--gray-100);
  padding-top: 28px;
  color: var(--content);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

/* check-point */
.goods-point {
  margin-bottom: 96px;
}

.goods-point-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 3.1575rem;
  margin-bottom: 68px;
}

/* 가상요소로 구분선 */
.goods-point-title::before {
  content: "";
  flex-grow: 1;
  margin-right: 16px;
  height: 1px;
  background-color: #d9d9d9;
  font-size: 0;
  line-height: 0;
}

.goods-point-title::after {
  content: "";
  flex-grow: 1;
  margin-left: 16px;
  height: 1px;
  background-color: #d9d9d9;
  font-size: 0;
  line-height: 0;
}

.goods-point img {
  margin: 0 20px;
}

.why-karly {
  border-top: 1px solid var(--gray-100);
  margin-bottom: 84px;
}

.why-karly-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.7769rem;
  color: var(--content);
  padding: 72px 0 35px 0;
}

.why-karly-description {
  padding: 0 52px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.why-karly-description img {
  margin-bottom: 16px;
}

.why-karly-description span {
  font-weight: 600;
  font-size: 1.3331rem;
  color: var(--primary);
  margin-bottom: 24px;
}

.why-karly-description li {
  width: 315px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-karly-description p {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: var(--content);
  line-height: 1.5;
  word-break: keep-all;
}

.karly-standards {
  grid-area: 1/1/2/3;
}

.karly-only {
  grid-area: 1/3/2/5;
}

.karly-delivery {
  grid-area: 1/5/2/7;
}

.karly-price {
  grid-area: 2/2/3/4;
}

.karly-environment {
  grid-area: 2/4/3/6;
}
